[Unit]
Description = FakeDNS is used to capture random DNS traffic to DShield sensor
After = network.target
 
[Service]
Type = simple
ExecStart = python3 /usr/local/bin/fakedns.py -a 192.168.25.28 -p 3553 
User = root
Group = root
Restart = on-failure 
SyslogIdentifier = fakedns
RestartSec = 5
KillMode=process
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target 
Alias =  fakedns.service
